*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* navbar */
.nav-item a{
  font-size: 20px;
  margin: auto 15px;
}
/* banner */
.banner-box img{
  width: 100%;
  margin: 10px auto;
}
.images-section{
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.images-section img{
  width: 228px;
  height: 235px;
}
.mencollections-heading{
  font-size: 2rem;
  color: rgb(42, 30, 210);
  text-align: center;
}